.cardContainer{
    border: solid 1px transparent;
    background-color: #d3d3d3;
    width: 250px;
    padding-bottom: 75px;
    margin: 10px auto;
}

.button{
    background-color: #ba181b;
    color: white;
    border: none;
    border-radius: 20%;
    font-size: 1rem;
    padding: 0.125em 0.5em;
    display: block;
    margin-left: auto;
    margin-top: 0.2em;
    margin-right: 0.2em;
    
    
}

.icon{
    margin-top: 18px;
    margin-left: 18px;
}

.city{
    display: block;
    font-size: large;
    font-weight: bold;
}

